@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.ttf');
    font-display: swap;
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url('../fonts/Roboto-Bold.ttf');
    font-display: swap;
}

@font-face {
    font-family: 'Roboto-Light';
    src: url('../fonts/Roboto-Light.ttf');
    font-display: swap;
}

@font-face {
    font-family: 'Roboto-Medium';
    src: url('../fonts/Roboto-Medium.ttf');
    font-display: swap;
}

* {
	margin: 0;
	padding:0;
	box-sizing: border-box;
	-moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box;
}

body {
    background: #F6F7FF;
    font-family: 'Roboto', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    margin: 60px 50px;
}


a {
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

nav h1 a:hover, footer a:hover {
    color: #FF8C00;
}

main {
    margin-left: 80px;
    width: 70%;
}

header, section {
    border-radius: 17px;
    margin-bottom: 68px;
}

 section {
    padding: 35px 55px;
    background: white;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.16);
}

 
section h2 {
    font-family: 'Roboto-Bold', sans-serif;
    font-size: 1.5em;
    margin-bottom: 15px;
}

section hr {
    margin: 0;
    padding: 0;
    border: 0;
    background: #FF8C00;
    width: 34px;
    height: 5px;
    margin-bottom: 50px;
} 

/* Buttons */

.buttons {
    display: flex;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    font-family: 'Roboto-Bold', sans-serif;
}

.enormous {
    width: 100%;
    height: 44px;
    border-radius: 6px;
}

.big {
    width: 220px;
    height: 62px;
    font-size: 1.12em;
    margin-right: 20px;
}

.medium {
    width: 200px;
    height: 45px;
    font-size: 0.87em;
    margin-right: 40px;
}

.small {
    min-width: 80px;
    width: 80px;
    height: 20px;
    margin: auto;
    font-size: 0.8em;
}

.orange {
    background: #FF8C00;
    transition: 0.5s;
}

.orange:hover {
    cursor: pointer;
    background: #C66D00;
}

.blue {
    background: #2176FF;
    transition: 0.5s;
}

.blue:hover {
    cursor: pointer;
    background: rgb(78, 142, 243);
}

.white {
    background: white;
    color: black;
}

.white:hover {
    cursor: pointer;
    transform: scale(1.1);
}


.outline {
    border: 2px solid white;
}

.outline:hover {
    background: white;
    border: 2px solid #2176FF;
    color: #2176FF;
}

.outline-inverse {
    border: 2px solid #2176FF;
    color: #2176FF;
}

.outline-inverse:hover {
    background: #2176FF;
    border: 2px solid #2176FF;
    color:white;
}

.outline svg path {
    transition: 0.5s;
}
.outline:hover svg path {
    fill: #2176FF;
}

.big svg {
    width: 29px;
    vertical-align: middle;
    margin-right: 11px;
}

.medium svg, .medium img  {
    width: 24px;
    vertical-align: middle;

}

.small img {
    width: 12px;
    vertical-align: middle;
    margin-left: 5px;
}


/* End buttons */

/* Nav menu */

nav {
    background: #2176FF;
    width: 300px;
    min-width: 250px;
    height: 580px;
    border-radius: 17px;
    color: white;
    font-size: 0.87em;
    position: -webkit-sticky;
  	position: -moz-sticky;
  	position: -ms-sticky;
  	position: -o-sticky;
  	position: sticky;
    top: 45px;
}

nav div ul a:hover{
    color: #FF8C00;
    padding-left: 10px;
}

nav ul li.active a {
    color: #FF8C00;
}

nav div:first-child {
    margin: 25px;
}  


nav img {
    width: 80px;
    height: auto;
    border-radius: 50%;
}


nav h1 {
    font-family: 'Roboto-Bold', sans-serif;
    font-size: 2.25em;
    margin-bottom: 10px;
}

nav p {
    font-family: 'Roboto-Light', sans-serif;
    text-transform: uppercase;
    margin: 0;
}

nav ul {
    font-family: 'Roboto-Medium', sans-serif;
    list-style-type: none;
    padding: 0;
    margin-top: 34px;
}

nav ul li {
    margin-bottom: 23px;
}

nav ul li img {
    width: 18px;
    vertical-align: middle;
    margin-right: 11px;
}

#social-icons {
    padding: 0;
    margin-top: 55px;
    display: flex;
    justify-content: center;
}

#social-icons svg {
    margin-right: 15px;
}

#social-icons svg path {
    transition: 0.4s;
}

#social-icons a:hover svg path{
    fill: #FF8C00;
}

.burger {
    border: none;
  appearance:none;
  -moz-appearance:none;
  -webkit-appearance:none;
  color:inherit;
  cursor:pointer;
  font-size:30px;
  line-height:50px;
  margin:0;
  outline:0;
  padding:0;
  position:absolute;
  text-align:center;
  top:20px;
  right: 30px;
  width:50px;
}

/* End nav menu */


/* Header */

header {
    background-image: linear-gradient(rgba(33, 118, 255, 0.87), rgba(33, 118, 255, 0.87)), url('../img/welcome.webp');
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 580px;
    padding: 25px;
    color: white;
    font-family: 'Roboto-Bold', sans-serif;
}

header h2 {
    font-size: 4em;
    margin-bottom: 70px;
}

header p {
    max-width: 590px;
    text-align: center;
    font-size: 1.18em;
    font-family: 'Roboto-Medium', sans-serif;
    margin-bottom: 71px;
}

/* End header */



/* Section about */

#about {
    height: 550px;
}

#content-container > img {
    width: 30%;
    height: 30%;
    border-radius: 50%;
    margin-right: 43px;
}

#content-container, #summary-info {
    display: flex;
}

#summary-info {
    color: #848484;
    margin-bottom: 72px;
}

#content-about > p {
    font-family: 'Roboto-Bold', sans-serif;
    font-size: 1.06em;
    margin-bottom: 51px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    /* This is the dangerous one in WebKit, as it breaks things wherever */
    word-break: break-all;
    /* Instead use this non-standard one: */
    word-break: break-word;
}

#summary-info > div {
    margin-right: 40px;
}

#summary-info div p {
    margin-bottom: 21px;
}

#summary-info strong {
    color: #000000;
    font-family: 'Roboto-Bold', sans-serif;
}

/* End section about */


/* Section experiences */

#experiences > h2 {
    font-size: 1.06em;
    color: #848484;
    margin-bottom: 32px;
}

#experiences-container {
    display: flex;
    justify-content: space-around;
}

#pro, #school {
    width: 100%;
}

.timeline {
    margin-top: 80px;
}

.timeline-item {
    display: flex;
}

.timeline-date {
    width: 20%;
    margin-right: 15px;
    color: #848484;
    font-size: 0.68em;
}

.line {
    position: relative;
    border-left: 1px solid #FF8C00;
    width: 5%;
    margin-right: 15px;
}

.line:before {
    content: "";
    display: block;
    border-radius: 50%;
    border: 1px solid #FF8C00;
    background: white;
    position: absolute;
    left: -5px;
    height: 7px;
    width: 7px;
}

.timeline-body {
    width: 75%;
    margin-bottom: 80px;
}

.timeline-body h3 {
    font-family: 'Roboto-Bold', sans-serif;
    font-size: 1em;
    margin-bottom: 19px;
}

.timeline-body p {
    margin-bottom: 15px;
}

.timeline-body ul {
    margin-left: 15px;
}

.timeline-body ul li {
    margin-bottom: 10px;
}

.timeline-body p, .timeline-body ul {
    color: #3E3535;
    font-size: 0.90em;
}

.end-timeline {
    border: 0;
    position: relative;
    width: 5%;
    margin-right: 10px;
}


/* End section experiences */


/* Skills section */

#skills, #contact {
    color: white;
    background: #2176FF;
}

#skills-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.skills-item {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    width: 18%;
    height: 250px;
    background: #F5F5F5;
    color: black;
    border-radius: 12px;
    margin-bottom: 20px;
}



.skills-item p {
    margin-top: 22px;
    display: flex;
    justify-content: center;
    font-size: 0.87em;
}

.skills-item p, .skills-item h3 {
    font-family: 'Roboto-Bold', sans-serif;
}

.overlay-skills {
    position: absolute;
    opacity: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #FF8C00;
    color: white;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    transition: 0.3s;
}

.skills-item img {
    margin: 0 10px;
}

.skills-item:hover .overlay-skills, .skills-item:active .overlay-skills {
    opacity: 1;
}

.skills-item h3 {
    font-size: 1em;
    text-align: center;
    margin-bottom: 10px;
}

.overlay-skills ul {
    list-style-type: none;
}

.overlay-skills ul li {
    font-size: 0.76em;
    text-align: center;
    margin-top: 10px;
}
 
/* End skills section */


/* Projects section */

#projects .buttons {
    justify-content: center;
}

#projects .btn {
    text-align: center;
}

#pro-projects {
    margin-right: 0;
}

#projects-container {
    margin-top: 80px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.project-item {
    position: relative;
    width: 30%;
    height: 250px;
    border-radius: 12px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.16);
    margin-bottom: 40px;
}

.project-item > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
}

.overlay-project {
    position: absolute;
    opacity: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #FF8C00;
    color: white;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    padding: 25px;
    transition: 0.3s;
}

.project-item:hover .overlay-project {
    opacity: 1;
}

.overlay-project h3 {
    text-align: left;
    font-family: 'Roboto-Bold', sans-serif;
    font-size: 1em;
    margin-bottom: 7px;
}

.overlay-project p  {
    font-size: 0.7em;
}

.technologies {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.technologies img {
    width: 35px;
    height: 35px;
    margin-right: 10px
}

/* End projects section */

/* Section contact */
#contact {
    height: 320px;
    margin-bottom: 200px;
}

#contact p {
    text-align: center;
    font-size: 1.5em;
    font-family: 'Roboto-Bold';
    margin-bottom: 63px;
}

#contact a {
    margin: auto;
    width: 80%;
}

/* End contact section */

/* Footer */

footer {
    background: #2176FF;
    width: 100%;
    height: 62px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* End footer */



/* Responsive */

@media screen and (max-width: 1500px) {
    .skills-item {
        width: 28%;
    }
}

@media screen and (max-width: 1250px) {

    section, #about {
        height: auto;
    }


    /* About */

    #content-container > img {
        display: none;
    }

    #content-about .buttons {
        margin: 0;
        justify-content: center;
    }

    #summary-info {
        margin-bottom: 30px;
    }

    /* End about */


    /* Experiences */

    #experiences-container {
        flex-direction: column;
    }

    #school {
        margin-top: 40px;
    }

    /* End experiences */

    /* Skills */

    .skills-item {
        width: 35%;
    }

    /* End skills */

    .project-item {
        width: 40%;
    }

}

@media screen and (max-width: 991px) {
    .container {
        flex-direction: column;
        justify-content: flex-start;
        margin: 0px 20px;
    }

    main {
        width: 100%;
        margin: 38px 0px 0px 0px;
    }

    /* Nav menu */
    nav {
        width: 100%;
        height: 120px;
        top: 10px;
        box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.75);
        z-index: 100;
    }

    nav img {
        display: none;
    }

    nav div {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        padding: 0;
    }

    nav .content-nav {
        display: flex;   
        flex-direction: column;
    }

    nav .content-nav h1 {
        margin-top: 0;
    }

    nav ul {
        display: flex;
        margin: 0;
        margin-left: 40px;
        font-size: 1.05em;
    }

    nav ul li img {
        display: none;
    }

    nav ul li {
        margin-right: 25px;
        margin-bottom: 0px;
    }

    nav div ul a:hover{
        padding-left: 0px;
    }

    nav #social-icons {
        display: none;
    }
    
    /* End Nav menu */

    .skills-item {
        width: 28%;
    }

}

@media screen and (max-width: 855px) {

    /* Nav menu */
    nav {
        height: 80px;
    }

    nav ul li a {
        display: flex;
    }

    nav ul li img {
        display: block;
    }

    nav div {
        align-items: center;
    }

    nav div:first-child {
        margin: 0;
    }

    nav .content-nav {
        margin: 20px 20px 0px 20px;
    }  

    nav ul {
        display: none;
        opacity: 0;
        transition: opacity 0.5s ease-in-out;
    } 

    nav ul li {
        margin-bottom: 20px;
    }

    nav .content-nav {
        flex-direction: row;
    }

    .content-nav h1 {
        margin-right: 15px;
    }

    .burger:before {
        content: url('data:image/svg+xml;utf8,<svg height="32px" id="Layer_1" style="enable-background:new 0 0 32 32;" fill="white" version="1.1" viewBox="0 0 32 32" width="32px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M4,10h24c1.104,0,2-0.896,2-2s-0.896-2-2-2H4C2.896,6,2,6.896,2,8S2.896,10,4,10z M28,14H4c-1.104,0-2,0.896-2,2  s0.896,2,2,2h24c1.104,0,2-0.896,2-2S29.104,14,28,14z M28,22H4c-1.104,0-2,0.896-2,2s0.896,2,2,2h24c1.104,0,2-0.896,2-2  S29.104,22,28,22z"/></svg>');
    }

    .burger:checked:before {
        content: url('data:image/svg+xml;utf8,<svg width="32px" height="32px" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M11 22C4.92487 22 0 17.0751 0 11C0 4.92487 4.92487 0 11 0C17.0751 0 22 4.92487 22 11C22 17.0751 17.0751 22 11 22ZM11 20C15.9706 20 20 15.9706 20 11C20 6.02944 15.9706 2 11 2C6.02944 2 2 6.02944 2 11C2 15.9706 6.02944 20 11 20ZM7.70711 15.7071L11 12.4142L14.2929 15.7071L15.7071 14.2929L12.4142 11L15.7071 7.70711L14.2929 6.29289L11 9.58579L7.70711 6.29289L6.29289 7.70711L9.58579 11L6.29289 14.2929L7.70711 15.7071Z" fill="white"/></svg>');
    }

    .responsive-menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
        opacity: 1;
        margin: 0;
        padding-top: 15px;
        width: 100%;
        background: #2176FF;
        border-radius: 0px 0px 17px 17px;
        font-size: 1.5em;
        box-shadow: 0 5px 5px rgba(0,0,0,0.75);
        animation: fade-in 0.4s;
    }

    @keyframes fade-in {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    /* End nav menu */

    .small {
        margin-top: 15px;
    }

    .skills-item {
        width: 38%;
    }

    .project-item {
        width: 88%;
    }
}

@media screen and (max-width: 580px) {

    header, section, #about {
        height: auto;
        margin-bottom: 30px;
    }

    section {
        padding: 20px;
    }

    /* Nav */
    .content-nav p{
        display: none;
    }

    /* End nav */

    /* Buttons */
    .buttons {
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
    }

    .btn {
        margin-bottom: 15px;
    }

    header .btn, #about .btn, #projects > .buttons .btn{
        margin-right: 0px;
    }

    /* End buttons */

    /* Headers */

    header h2 {
        font-size: 3em;
    }

    /* End headers */


    /* About */
    #summary-info {
        flex-wrap: wrap;
    } 
    /* End about */

    #projects-container .buttons {
        flex-direction: row;
    }

    .small {
        width: 100px;
        height: 40px;
        margin: auto;
        font-size: 0.8em;
    }

    #contact a {
        margin: 0;
        width: 100%;
    }

    .skills-item {
        width: 58%;
    }
}



