@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url('../fonts/Roboto-Bold.ttf');
}

@font-face {
    font-family: 'Roboto-Light';
    src: url('../fonts/Roboto-Light.ttf');
}

@font-face {
    font-family: 'Roboto-Medium';
    src: url('../fonts/Roboto-Medium.ttf');
}

body {
    background: #E5E5E5;
    font-family: 'Roboto', sans-serif;
    margin: 60px 50px;
    display: flex;
    justify-content: center;
}

/* Nav menu */

nav {
    background: #2176FF;
    width: 300px;
    height: 580px;
    border-radius: 17px;
    color: white;
    font-size: 0.87em;
    position: -webkit-sticky;
  	position: -moz-sticky;
  	position: -ms-sticky;
  	position: -o-sticky;
  	position: sticky;
    top: 45px;
}

nav a {
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

nav div ul a:hover{
    color: #FF8C00;
    padding-left: 10px;
}

nav div:first-child {
    margin: 25px;
}  


nav img {
    border-radius: 50%;
}


nav h1 {
    font-family: 'Roboto-Bold', sans-serif;
    font-size: 2.25em;
    margin-bottom: 10px;
}

nav p {
    font-family: 'Roboto-Light', sans-serif;
    text-transform: uppercase;
    margin: 0;
}

nav ul {
    font-family: 'Roboto-Medium', sans-serif;
    list-style-type: none;
    padding: 0;
    margin-top: 34px;
}

nav ul li {
    margin-bottom: 23px;
}

nav ul li img {
    width: 18px;
    vertical-align: middle;
    margin-right: 11px;
}

#social-icons {
    padding: 0;
    margin-top: 55px;
    display: flex;
    justify-content: center;
}

#social-icons svg {
    margin-right: 15px;
}

#social-icons svg path {
    transition: 0.4s;
}

#social-icons a:hover svg path{
    fill: #FF8C00;
}

.burger {
  appearance:none;
  -moz-appearance:none;
  -webkit-appearance:none;
  color:inherit;
  cursor:pointer;
  font-size:30px;
  line-height:50px;
  margin:0;
  outline:0;
  padding:0;
  position:absolute;
  text-align:center;
  top:20px;
  right: 30px;
  width:50px;
}

/* End nav menu */

 
main {
    margin-left: 80px;
    width: 70%;
}

header, section {
    border-radius: 17px;
    padding: 25px;
    margin-bottom: 68px;
}


/* Header */

header {
    background-image: linear-gradient(rgba(33, 118, 255, 0.87), rgba(33, 118, 255, 0.87)), url('../img/welcome.png');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 532px;
}


/* End header */




/* Responsive */

@media screen and (max-width: 991px) {
    body {
        flex-direction: column;
        justify-content: flex-start;
        margin: 0px 20px;
    }

    nav {
        width: 100%;
        height: 120px;
        top: 10px;
    }

    nav img {
        display: none;
    }

    nav div {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        padding: 0;
    }

    nav .content-nav {
        display: flex;   
        flex-direction: column;
    }

    nav .content-nav h1 {
        margin-top: 0;
    }

    nav ul {
        display: flex;
        margin: 0;
        margin-left: 40px;
        font-size: 1.05em;
    }

    nav ul li img {
        display: none;
    }

    nav ul li {
        margin-right: 25px;
        margin-bottom: 0px;
    }

    nav div ul a:hover{
        padding-left: 0px;
    }

    nav #social-icons {
        display: none;
    }

    main {
        width: 100%;
        margin: 38px 0px 0px 0px;
    }

}

@media screen and (max-width: 855px) {

    nav {
        height: 80px;
    }

    nav div {
        align-items: center;
    }

    nav div:first-child {
        margin: 0;
    }

    nav .content-nav {
        margin: 20px 20px 0px 20px;
    }  

    nav ul {
        display: none;
    }

    nav ul li {
        font-size: 1.5em;
        margin-bottom: 10px;
    }

    nav .content-nav {
        flex-direction: row;
    }

    .content-nav h1 {
        margin-right: 15px;
    }

    .burger:before {
        content: url('data:image/svg+xml;utf8,<svg height="32px" id="Layer_1" style="enable-background:new 0 0 32 32;" fill="white" version="1.1" viewBox="0 0 32 32" width="32px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M4,10h24c1.104,0,2-0.896,2-2s-0.896-2-2-2H4C2.896,6,2,6.896,2,8S2.896,10,4,10z M28,14H4c-1.104,0-2,0.896-2,2  s0.896,2,2,2h24c1.104,0,2-0.896,2-2S29.104,14,28,14z M28,22H4c-1.104,0-2,0.896-2,2s0.896,2,2,2h24c1.104,0,2-0.896,2-2  S29.104,22,28,22z"/></svg>');
    }

    .burger:checked:before {
    content: url('data:image/svg+xml;utf8,<svg width="32px" height="32px" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M11 22C4.92487 22 0 17.0751 0 11C0 4.92487 4.92487 0 11 0C17.0751 0 22 4.92487 22 11C22 17.0751 17.0751 22 11 22ZM11 20C15.9706 20 20 15.9706 20 11C20 6.02944 15.9706 2 11 2C6.02944 2 2 6.02944 2 11C2 15.9706 6.02944 20 11 20ZM7.70711 15.7071L11 12.4142L14.2929 15.7071L15.7071 14.2929L12.4142 11L15.7071 7.70711L14.2929 6.29289L11 9.58579L7.70711 6.29289L6.29289 7.70711L9.58579 11L6.29289 14.2929L7.70711 15.7071Z" fill="white"/></svg>');
    }

    .responsive-menu {
        display: flex;
        height: auto;
        opacity: 1;
        flex-direction: column;
        align-items: center;
        margin: 0;
        padding-top: 15px;
        width: 100%;
        background: #2176FF;
        border-radius: 0px 0px 17px 17px;
        transition: display 0.5s;
    }
}

@media screen and (max-width: 580px) {
    .content-nav p{
        display: none;
    }
}



